// Styles and layout for the header, logo, and restart button

.logo {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20px auto;
    position: relative;
    .mainLogo {
        width: 100%;
        @include position($left: -40px);
        z-index: 9;
    }
    .nameOfTheGame {
        width: 80%;
        @include center;
        @include position($top: -25px, $left: -30px);
        z-index: 10;
    }
}

.restart {
    width: max-content;
    z-index: 8;
    @include center;
    @include position($top: -30px, $left: -20px);
    // TODO work on button slide down
    button {
        width: 100px;
        height: 50px;

        background: none;
        background-image: url(../assets/buttonBG.gif);
        background-size: cover;
        border: none;
        overflow: visible;
        color: $pink;
    }
}

h1 {
    @include hideThis;
}