// Styles for the Game Area

#cardGame {
    width: 60%;
    @include boxBG;
}

.cardDeck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    @include boxBG;
    border: none;
}

// Styles for the Game Cards
.card {
    width: 100%;
    border-radius: 5px;
    background-color: #7cfc00;
    cursor: pointer;
    list-style: none;
    box-shadow: none;
    opacity: 0;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    &.show {
        box-shadow: 0px 0px 10px 10px #7cfc00;
        opacity: 1;
    }
    &.match {
        box-shadow: 0px 0px 10px 10px #00dffc;
        visibility: hidden;
    }
}

.cardBack {
    background-color: #7cfc00;
    background-image: url(../assets/cardBack.jpg);
    background-size: cover;
    background-position: center;
    width: min-content;
    width: 125px;
    height: 125px;
    margin: 10px;
}