// Laptop
@media (max-width: 940px) {

}

// Tablet (portrait)
@media (max-width: 768px) {
    #cardGame {
    width: 60%;
        .card {
            height: 100px;
            width: 100px;
        }
    }
}

// Mobile (portrait)
@media (max-width: 420px) {
    #cardGame {
        width: 100%;
        .card {
            height: 75px;
            width: 75px;
        }
    }
}