// Mixins to streamline further CSS

@mixin wrapper($maxWidth) {
    max-width: $maxWidth;
    width: 90%;
    margin: 0 auto;
}

@mixin position($type: relative, $top: 0, $left: 0) {
    position: $type;
    top: $top;
    left: $left;
}

@mixin center {
    margin: 0 auto;
}

@mixin boxBG {
    border: 5px $pink solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6)
}

@mixin hideThis {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px,1px,1px,1px);
}

@mixin flip {
    @keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}
}