// Mixins to streamline further CSS

@mixin wrapper($maxWidth) {
    max-width: $maxWidth;
    width: 90%;
    margin: 0 auto;
}

@mixin position($type: relative, $top: 0, $left: 0) {
    position: $type;
    top: $top;
    left: $left;
}

@mixin center {
    margin: 0 auto;
}

@mixin boxBG {
    border: 5px $pink solid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6)
}

@mixin hideThis {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px,1px,1px,1px);
}