// Variables to streamline further CSS

$black: rgb(10, 10, 10);
$pink: #eb31c2;
$metal: (
    linear-gradient(45deg, rgba(126,126,126,1) 0%, rgba(231,231,231,1) 24%, rgba(255,255,255,1) 32%, rgba(126,126,126,1) 57%, rgba(246,246,246,1) 93%, rgba(231,231,231,1) 100%));